<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amlzq.android.viewer.expand">

    <application>
        <activity android:name=".ThirdPartyWidgetActivity" />
        <activity android:name=".FloatingActionButtonActivity" />
        <activity
            android:name=".SideMenuByYalantisActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ContextMenuByYalantisActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".lottie.LottieActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".SmartRefreshActivity"
            android:theme="@style/Theme.AppCompat.Light" />
    </application>

</manifest>