<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amlzq.android.viewer.platform">

    <application>
        <activity android:name=".ToggleButtonActivity"></activity>
        <activity
            android:name=".PlatformActivity"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".PopupWindowDemoActivity"
            android:label="PopupWindow demo"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".WebActivity"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".NotificationDemoActivity"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".MenuDemoActivity"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".DialogDemoActivity"
            android:label="Dialog demo"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".LayoutDemoActivity"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".WidgetDemoActivity"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".ToastDemoActivity"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".ProgressBarDemoActivity"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".PickerDemoActivity"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".DimenDemoActivity"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".ScreenDemoActivity"
            android:theme="@android:style/Theme.Light" />
    </application>

</manifest>