<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amlzq.android.viewer">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@null"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:name,android:label,android:roundIcon,android:theme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".guide.BottomNavigationOverviewActivity" />
        <activity android:name=".guide.SlideInMenusOverviewActivity" />
        <activity android:name=".guide.DialogOverviewActivity" />
        <activity
            android:name=".guide.WidgetOverviewActivity"
            android:label="WidgetGuideActivity" />
        <activity android:name=".guide.RefreshLayoutOverviewActivity" />
        <activity android:name=".guide.GuideActivity" />
        <activity android:name=".guide.TypefaceOverviewActivity" />
        <activity android:name=".guide.ViewPageOverviewActivity" />
        <activity android:name=".qmui.QMUIGuideActivity" />
        <activity android:name=".droidux.DroidUXActivity" />

        <!--Component-->
        <!--合并多个清单文件https://developer.android.com/studio/build/manifest-merge?hl=zh-cn#node_markers-->
        <activity
            android:name=".material.MaterialDesignActivity"
            android:label="@string/title_material_design"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light"
            tools:node="replace" />

    </application>

</manifest>